<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>Wintermute Client</title>
    <link href="sampleproject.css" rel="stylesheet"></head>
  <body>
    <div id='main'></div>
    <script type="text/javascript" src="vendors.js"></script>
    <script type="text/javascript" src="sampleproject.js"></script>
  </body>
</html>