@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300')

.app-cmpt
  color: green
  font-size: 30px
  font-family: 'Open Sans Condensed', sans-serif

.chat-display
  background-color: blue
  width:75%
  height:600px

.chat-area
  position: relative
  top:5px
  background-color:red;
  width:75%