@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300|Nunito')

html
  height: 100%
  width: 100%
  overflow: hidden

body
  margin: 0
  height: 100%
  width: 100%
  background-color: #121212
  background-image: url('http://i.imgur.com/iFUBFJG.jpg')
  background-size: 100%
  background-position: center
  background-repeat: no-repeat
  background-attachment: fixed

.app-cmpt
  color: green
  font-family: 'Dosis', sans-serif
  font-size: 30px

.user-loginWrapper
  position:absolute
  height:100%
  width:100%

.user-login
  position: relative
  border-radius: 10px
  width: 500px
  height: 240px
  margin: auto
  top: 20%
  background-color: rgba(0,0,0,.6)

.user-login_txtField
  position: relative
  top: 80px
  margin: 0 auto
  left: 150px

.user-login_button
  color: white
  position: relative
  width: 100px
  top: 140px
  margin: auto