@import url('https://fonts.googleapis.com/css?family=Dosis|Open+Sans+Condensed:300|Nunito')

::-webkit-scrollbar
  width: 5px;
  height: 5px;

::-webkit-scrollbar-button
  width: 4px;
  height: 4px;

::-webkit-scrollbar-thumb
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 45px;

::-webkit-scrollbar-thumb:hover
  background: #ffdfbb;

::-webkit-scrollbar-thumb:active
  background: #ffd3a4;

::-webkit-scrollbar-track
  background: #666666;
  border: 0px solid #dc9e61;
  border-radius: 50px;

::-webkit-scrollbar-track:hover
  background: #666666;

::-webkit-scrollbar-track:active
  background: #666666;

::-webkit-scrollbar-corner
  background: transparent;

html
  height: 100%
  width: 100%
  overflow: hidden

body
  margin: 0
  height: 100%
  width: 100%
  background-color: #121212
  background-image: url('/bg_img.jpg')
  background-size: 100%
  background-position: center
  background-repeat: no-repeat
  background-attachment: fixed

.app-cmpt
  color: green
  font-family: 'Open Sans Condensed', sans-serif
  font-size: 30px

.chat-display
  position: relative
  background-color: rgba(0,0,0,.7)
  border-radius: 10px 0px 0px 0px
  top: 80px
  left: 20%
  height: 600px
  width: 45%
  overflow-y: auto
  overflow-x: hidden
  word-wrap: break-word

.chat-area
  background-color: rgba(0,0,0,.8)
  position:relative
  top: 80px
  border-radius: 0px 0px 10px 10px
  position: relative
  margin: auto
  margin-top: 0
  width:60%

.msg-parent
  font-family: 'Nunito', sans-serif;
  padding-left: 5px

.msg-time 
  display: inline-block
  min-width: 80px
  font-size: 8pt
  font-style: italic
  text-align: center
  color: #cccccc

.msg-user
  display: inline
  padding-left: 8px
  font-size: 12pt
  font-weight: bold
  color: #ffffff

.msg-content
  display: inline-block
  vertical-align: text-top
  padding-top: 14.3px
  padding-left: 8px
  font-size: 12pt
  width: 65%
  color: #ffffff
  word-wrap: break-word

.user-loginWrapper
  position:absolute
  height:100%
  width:100%

.user-login
  position: relative
  border-radius: 10px
  width: 500px
  height: 240px
  margin: auto
  top: 20%
  background-color: rgba(0,0,0,.6)

.user-login_txtField
  position: relative
  top: 80px
  margin: 0 auto
  left: 150px

.user-login_button
  color: white
  position: relative
  width: 100px
  top: 140px
  margin: auto

.user-listWrapper
  background-color: blue
  display: block
  border-radius: 0 10px 0 0
  position: absolute
  width: 15%
  height: 600px
  top: 80px
  right: 20%
  margin: auto