::-webkit-scrollbar
  width: 5px;
  height: 5px;

::-webkit-scrollbar-button
  width: 4px;
  height: 4px;

::-webkit-scrollbar-thumb
  background: #ffd3a4;
  border: 0px none #ffffff;
  border-radius: 45px;

::-webkit-scrollbar-thumb:hover
  background: #ffd3a4;

::-webkit-scrollbar-thumb:active
  background: #ffd3a4;

::-webkit-scrollbar-track
  background: #666666;
  border: 0px solid #dc9e61;
  border-radius: 50px;

::-webkit-scrollbar-track:hover
  background: #666666;

::-webkit-scrollbar-track:active
  background: #666666;

::-webkit-scrollbar-corner
  background: transparent;

.chat-display
  position: relative
  background-color: rgba(0,0,0,.7)
  border-radius: 10px 0px 0px 0px
  top: 80px
  left: 20%
  height: 600px
  width: 45%
  overflow-y: auto
  overflow-x: hidden
  word-wrap: break-word
  box-sizing: border-box
  
.msg-parent
  font-family: 'Nunito', sans-serif;
  padding-left: 5px

.msg-time 
  display: inline-block
  min-width: 80px
  font-size: 8pt
  font-style: italic
  text-align: center
  color: #cccccc

.msg-user
  display: inline
  padding-left: 8px
  font-size: 12pt
  font-weight: bold
  color: #ffffff

.msg-content
  display: inline-block
  vertical-align: text-top
  padding-top: 14.3px
  padding-left: 8px
  font-size: 12pt
  width: 65%
  color: #ffffff
  word-wrap: break-word