.user-listWrapper
  background-color: rgba(0,0,0,0.8)
  display: block
  border-radius: 0 10px 0 0
  position: absolute
  width: 15%
  height: 600px
  top: 80px
  right: 20%
  margin: auto
  box-sizing: border-box
  border-bottom: 0px black solid
  border-left: 0px rgba(0,0,0,0.4) solid

h3
  text-align: center
  font-size: 18pt
  color: #ffd3a4

.user-list
  font-size: 12pt
  color: white