.user-listWrapper
  background-color: rgba(0,0,0,0.8)
  display: block
  border-radius: 0 10px 0 0
  position: absolute
  width: 15%
  height: 600px
  top: 80px
  right: 20%
  margin: auto

h3
  text-align: center
  font-size: 18pt
  color: #ffd3a4

.user-list
  font-size: 8pt